.blogHero {
  padding: 150px 0 90px;
  display:flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 10px 0;
  }

  h2 {
    margin: 15px 0 0;
  }

  .appInfo {
    margin-top: 40px;
  }
}