
 nav .logo,
 .blogHero .logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}


nav .logo {
  width: 220px;
  height: 40px;
  background-image: url(../assets/wealthsimpleLogoWhiteBackground.png);
}

.blogHero .logo {
  width: 400px;
  height: 30px;
  background-image: url(../assets/wealthsimpleLogoGreyBackground.png);
}