.postList {
  list-style-type: none;
  column-count: 2;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
}


.loadingDiv {
  height: 100vh;
}

.hidden {
  display: none;
}

.postCategory {
  margin-bottom: 100px;
}