.featuredPostImageContainer,
.postImageContainer {

  img {
    width: 100%;
    height: 100%;
  }
}

.featuredPostInfoContainer {
  background: $backgroundBaseFadedColor;
  bottom: 60px;
  margin: 0;
  position: absolute;
  right: 0;
  width: 580px;
}

