.postList {
  list-style-type: none;
  column-count: 2;
}

.readMoreContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(hsla(0,0%,100%,0), $backgroundSecondayColor);
  height: 350px;
  margin-top: -338px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.loadingDiv {
  margin-top: 60px;
  text-align: center;
} 

.postCard {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  background: $backgroundBaseColor;
}
