$primaryColor: rgb(249, 248, 246);
$secondayColor: #ffb21a;
$secondayDarkColor: #ffb21a;
$backgroundBaseColor: #ffffff;
$backgroundSecondayColor: #f9f8f6;
$backgroundInverseColor: black;
$backgroundBaseFadedColor: hsla(0,0%,100%,.85);
$fontPrimaryColor: white;
$fontSecondaryColor: black;
$fontTertiaryColor: grey;
$fontH1Color: #272c2f;